<!-- HI THERE -->

<div class="container">
    <h1 class="header g-header"><strong>Galvanize Classifieds</strong></h1>
    <hr>
    <div class="row">
        <div class="six columns">
            Search: <input type="search" ng-model="$ctrl.query" />
        </div>
    </div>
    <div class="row">
        Sort By:
        <select ng-model="$ctrl.orderProp" class="u-half-width" id="sort">
               <option value="created_at">Date</option>
               <option value="price">Price</option>
             </select>
    </div>
    <br>
    <div class="row">
        <button ng-click="showCreateForm = !showCreateForm" type="reset" class="button create" value="Reset">
            Create Ad
        </button>
    </div>
</div>

<div class="container">


    <!-- for creating a NEW ad -->
    <form name="$ctrl.newAd" ng-submit="$ctrl.createAd()" ng-show="showCreateForm">

        <div class="form-group">
            <label class="control-label" for="title">Title:</label>
            <input type="text" name="title" class="u-full-width" ng-model="$ctrl.newAd.title" placeholder="enter item title">
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description:</label>
            <textarea placeholder="enter description" class="u-full-width" type="text" name="description" ng-model="$ctrl.newAd.description" ng-required="true" id="description">
              </textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="price">Price:</label>
            <input type="number" name="price" class="u-full-width form-control" ng-model="$ctrl.newAd.price" ng-required="true" id="price" placeholder="enter price">
        </div>
        <div class="form-group">
            <label class="control-label" for="item_image">Image URL:</label>
            <input type="url" name="item_image" class="form-control u-full-width" ng-model="$ctrl.newAd.item_image" ng-required="true" id="item_image" placeholder="Add a photo of the item">
        </div>

        <div class="form-group">
            <button ng-click="showCreateForm = false" type="submit" value="Submit" class="button-primary">
              Sumbit Ad
            </button>
            <button type="reset" value="Reset" class="button reset">
              Reset
            </button>
            <button ng-click="showCreateForm = false" type="button" name="button">
              Collapse Form
            </button>
        </div>

    </form>
    <!-- Button of ''<form>' element for creating a New Ad -->
    </div>
    </div>
<!-- end of CREATE NEW Ad 'form' -->
  </div>
</div>


<!-- Current listings of Ads -->
<div class="container" ng-repeat="ad in $ctrl.ads | filter:$ctrl.query | orderBy:$ctrl.orderProp">
    <br>
    <h5>{{ad.title}}</h5>

    <img class="item-image" ng-src="{{ad.item_image}}" alt="item_image">
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Item Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Originally Posted</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ad.title}}</td>
                <td>{{ad.description}}</td>
                <td>$ {{ad.price}}.00 USD</td>
                <td>{{ad.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <!-- BUTTTONS below each post! -->
    <!-- DELETE and MODIFY(EDIT) buttons -->
    <button ng-click="$ctrl.deleteAd($event)" id="{{ad.id}}" type="submit" class="button delete">
      Delete
    </button>

    <button ng-click="showEditForm = !showEditForm" id="{{ad.id}}" type="submit" class="button edit">
      Edit
    </button>
    <hr>
    <!-- END of Modifying Buttons  -->

    <!-- form to EDIT Ad -->
    <form name="$ctrl.editForm" id="{{ad.id}}" class="form" ng-show="showEditForm" ng-submit="$ctrl.editAd(ad)">

        <!-- ad TITLE -->
        <div class="form-group">
            <label class="control-label" for="title">
              Title
            </label>
            <input ng-model="ad.title" type="text" class="form-control u-full-width" placeholder="enter item title">
            <!-- ad PRICE -->
            <label class="control-label" for="price">
              Price
            </label>
            <input ng-model="ad.price" type="text" class="form-control u-full-width" placeholder="enter price">
            <!-- ad DESCRIPTION -->
            <label class="control-label" for="description">
              Description
            </label>
            <textarea ng-model="ad.description" class="form-control u-full-width" id="adDescription" placeholder="enter description"></textarea>
            <!-- image Url -->
            <label class="control-label" for="img">Image</label>
            <input ng-model="ad.item_image" name="item_image" placeholder="Add a photo of the item" type="url" class="form-control u-full-width" id="image">
        </div>
        <br>
        <!-- submit form for edited-ad -->
        <button ng-click="showEditForm = false" type="submit" class="button-primary" value="Submit">
          Submit
        </button>
        <button type="reset" class="button reset" value="Reset">
          Reset
        </button>
        <button ng-click="showEditForm = false" type="button" class="button">
          Cancel
        </button>

    </form>
</div>
<!-- END of 'ng-repeat' of 'ad' in controller 'ads' objects  -->
